.modal-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: flex-start;
    transition: 1s;
}

.modal-container.visible {
    display: flex;
}

.modal-container > form {
    margin-top: 200px;
    background: white;
    padding: 30px 50px;
    border-radius: 6px;
    text-align: center;
    position: relative;
}

.modal-container > form button.create-button {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    margin-top: 30px;
}

.modal-container > form button.close-modal {
    border: none;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
}

.modal-container > form input[type=text] {
    padding: 10px 5px;
    font-size: 16px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.modal-container > form label {
    display: block;
    margin-bottom: 5px;
}

.modal-container > form > h3 {
    margin: 0 0 20px;
}
