.project-card {
    width: 30%;
    height: 150px;
    border: 1px solid #7b8891;
    border-radius: 6px;
    background-color: white;
    padding: 20px 10px 10px 15px;
    overflow: hidden;
}

.project-card__header {
    display: flex;
    justify-content: space-between;
}

.project-card__header button {
    border: none;
    background-color: transparent;
    opacity: .65;
}

.project-card__header button:hover {
    opacity: 1;
}

.project-card h3 {
    margin: 0;
}